* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    height: 2000px;
    width: 80vw;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* 배너 부분 */

.top_header {
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
    align-content: space-between;
}

.top_item {
    height: 40px;
    margin-bottom: 5px;
    align-content: center;
}

.banner {
    position: relative;
    text-align: center;
    /* position: static; */
    border: 1px solid black;
    width: 100%;
    padding: 40px 0;
}

/* 사이트 네비게이션 바 */
.sidenav_bar {
    position: fixed;
    background-color: #444444;
    display: block;
    padding-top: 60px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s;
}

.sidenav_bar a {
    text-decoration: none;
    color: #818181;
    display: block;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    transition: 0.3s;
}

.sidenav_bar a:hover {
    color: #f1f1f1;
}

.sidenav_bar .close_btn {
    position: absolute;
    top: 0;
    right: 10px;
    color: #818181;
    font-size: 30px;
    padding-top: 10px;
}

.list_ {
    color: #000;
    position: relative;
    margin-left: 10px;
}

.list_:hover {
    color: #ffffff;
    background-color: #000;
    transition: 0.3s;
}

/* 로그인 영역 */
.logging {
    position: relative;
    flex-direction: row;
    float: right;
    margin-right: 10px;
}

.logging a {
    text-decoration: None;
    color: black;
    padding: 4px 8px;
    font-size: 20px;
}

/* ADC4CE EEE0C9 */
.logging a:hover {
    background-color: #000000;
    color: #fff;
    padding: 4px 8px;
    transition: 0.3s;
}



.container>* {
    border: 1px solid #000;
}

/* 상품 목록  */

img {
    object-fit: cover;
    width: 100%;
    display: block;
    box-sizing: inherit;
}

.grid-container {
    width: 100%;
    text-align: center;
    position: relative;
    top: 60px;
    margin: 0 auto;
}

/* 개별 상품 */

.img-container {
    width: 25%;
    margin: 10px auto;

    display: flex;
    flex-direction: column;
    float: left;
}

.img-container>.subject {
    margin-top: 10px;
}

.img-container>.value {
    margin-top: 4px;
    font-weight: bold;
}

.display-interact {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 최근 입고된 상품 표시 */
.new_item {
    border: 0;
    position: absolute;
    align-items: flex-start;
    background-color: #000;
    font-size: 14px;
    padding: 4px 8px;
}

span.event_items {
    font-weight: bold;
    color: #fff;
}

/* 마우스 오버시 버튼 */
.img-container .button {
    border: 0;
    padding: 4px 8px;
    background-color: #000;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
    height: 30px;
    font-size: 14px;
    position: absolute;
}

.display-interact:hover .button {
    opacity: 1;
    transition: 0.5s;
}

.display-interact:hover {
    filter: grayscale(70%);
    transition: 0.7s;
}

.img-container .button:hover {
    background-color: #b6b6b6;
    color: #000;
}

/* 기기별 화면 설정 */
@media screen and (max-width: 900px) {
    .sidenav_bar {
        padding-top: 15px;
    }

    .sidenav_bar a {
        font-size: 18px;
    }

    .img-container {
        width: 48%;
        font-size: 20px;
    }
}

._f_items {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}


/* 바닥 Nav */
footer {
    font-size: 12px;
    width: 100%;
    height: 80px;
    background-color: #000000;
    text-align: center;
    align-content: center;
    bottom: 0px;
}

.footer_items {
    color: #fff;
    display: inline-flex;
}

.footer_items p {
    margin-right: 20px;
}