<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FANSHOP</title>
    <link rel="stylesheet" href="../static/css/index.css"/>

</head>
<body>
    {% extends "top_menu.html" %}
    {% block content %}
    {{ super() }}
    <!-- Product grid -->
    <div class="grid-container">
        <div class="col-container">
            <div class="img-container">
                <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
            </div>
            <div class="img-container">
                <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                <p>Mega Ripped Jeans<br><b>$19.99</b></p>
            </div>
        </div>

        <div class="col-container">
            <div class="img-container">
                <div class="display-interact">
                    <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                    <span class="event_items">New</span>
                    <div class="buying">
                        <button class="button black">Buy now <i class=""></i></button>
                    </div>
                </div>
                <p>Mega Ripped Jeans<br><b>$19.99</b></p>
            </div>
            <div class="img-container">
                <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                <p>Washed Skinny Jeans<br><b>$20.50</b></p>
            </div>
        </div>

        <div class="col-container">
            <div class="img-container">
                <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                <p>Washed Skinny Jeans<br><b>$20.50</b></p>
            </div>
            <div class="img-container">
                <div class="display-interact">
                    <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                    <span class="event_items">Sale</span>
                    <div class="buying">
                        <button class="button black">Buy now <i class=""></i></button>
                    </div>
                </div>
                <p>Vintage Skinny Jeans<br><b class="text-red">$14.99</b></p>
            </div>
        </div>

        <div class="col-container">
            <div class="img-container">
                <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                <p>Vintage Skinny Jeans<br><b>$14.99</b></p>
            </div>
            <div class="img-container">
                <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                <p>Ripped Skinny Jeans<br><b>$24.99</b></p>
            </div>
        </div>
    </div>    

    {% endblock %}


  


<script>
function OpenNav() {
    document.getElementById("Mysidnav").style.width = "250px";
}

function CloseNav() {
    document.getElementById("Mysidnav").style.width = "0px";
}

</script>

</body>
</html>