<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        .bak_login {
            text-decoration: none;
            color: black;
            font-weight: 900;
        }

        .container {
            margin: 0 auto;
            text-align: center;
            position: relative;
            top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>Success !</p>
        <a class="bak_login" href="../templates/login.html">Back to login ></a>
    </div>
    <script>
        alert("Success! back to login menu")
    </script>
</body>
</html>