<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/writer_board.css"/>
</head>
<body>
    <div class="logo"><h2>Board</h2></div>
    <div class="container">
        <div class="table_contaioner">
            <table>
                <tr>
                    <th>num</th>
                    <th>title</th>
                    <th>Author</th>
                    <th>view</th>
                </tr>

                {% for i in data %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    <br>
        <div class="nav_horiz">
            <ul>
                <li><a href="#"></a><</li>
                <li><a href="#"></a>1</li>
                <li><a href="#"></a>2</li>
                <li><a href="#"></a>3</li>
                <li><a href="#"></a>4</li>
                <li><a href="#"></a>5</li>
                <li><a href="#"></a>></li>
            </ul>

        </div>
        <div class="write">
            <form action="/write">
                <button type="submit">글쓰기</button>
            </form>    
        </div>
    </div>
</body>
</html>