<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <br>
        <h1 class="text-center"><a href="/write_board">Writing Board</a></h1>
        <br>
        <br>
        
        <p>글쓰기 화면!</p>
        <form method="POST">
            <lable>TITLE <input name="title"></input></label>
            <textarea name="content" style="width:800px; height:600px;"></textarea>
            <label>주석 <input type="text" name="substring"></label>&nbsp&nbsp&nbsp<input type="submit" value="작성하기" onclick="alert('작성 완료!')">
        </form>
    </div>
    </body>
</html>