<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FANSHOP</title>
  <link rel="stylesheet" href="../static/css/index.css"/>
  <script src="../static/js/list.js" defer></script>
  <script src="../static/js/shopitem.js" defer></script>
  <script src="../static/js/block_backspace.js" defer></script>
</head>
<body>
<div class="container">
  <!-- Header -->
  {% include "top_menu_user.html" %}

  <!-- Product grid -->
  <div class="grid-container">
      
        <div class="img-container">
            <div class="new_item">
                <span class="event_items">New</span>
            </div>
            <div class="display-interact">
                <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                <button class="button black">Buy now</button>
            </div>
            <div class="subject"><p>Mega Ripped Jeans</p></div> 
            <div class="value"><p>$19.99</p></div> 
        </div>

        <div class="img-container">
            <div class="new_item">
                <span class="event_items">New</span>
            </div>
            <div class="display-interact">
                <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                <button class="button black">Buy now</button>
            </div>
            <div class="subject"><p>Washed Skinny Jeans</p></div> 
            <div class="value"><p>$20.50</p></div> 
        </div>
    
        <div class="img-container">
            <div class="new_item">
                <span class="event_items">New</span>
            </div>
            <div class="display-interact">
                <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                <button class="button black">Buy now</button>
            </div>
            <div class="subject"><p>Mega Ripped Jeans</p></div> 
            <div class="value"><p>$24.99</p></div> 
        </div>

        <div class="img-container">
            <div class="new_item">
                <span class="event_items">New</span>
            </div>
            <div class="display-interact">
                <img src={{ url_for('static', filename='imgs/book.jpg') }}> 
                <button class="button black">Buy now</button>
            </div>
            <div class="subject"><p>Ripped Skinny Jeans</p></div> 
            <div class="value"><p>$19.99</p></div> 
        </div>

        {% for item_id in data %}
          <div class="img-container">
            <div class="new_item">
                <span class="event_items">New</span>
            </div>
            <div class="display-interact">
                <img src="../static/imgs/{{ item_id[0] }}"> 
                <button class="button item-url" id="item-url" value="/item/{{item_id[2]}}">Buy now</button>
            </div>
            <div class="subject"><p>{{ item_id[1] }}</p></div> 
            <div class="value"><p>${{ item_id[8] }}</p></div> 
          </div>
        {% endfor %}

          
      
  </div>    
</div>
<!-- Footer -->
{% include "footer.html" %}

</body>
</html>