<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FANSHOP</title>
    <link rel="stylesheet" href="../static/css/item.css">
    <script src="../static/js/list.js">
    </script>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      {% include "top_menu_user.html" %}

      <div class="item_total">
        <!-- Image -->
        <div class="itemImage">
          <img src="" alt="Image">
        </div>

        <!-- ItemAdd grid -->
        <div class="itemInfos">
          <div class="_f_items">
            {% for item in data %}
              <div class="item item_name">
                <p>이름 : </p>
                <span>{{ item[0] }}</span>
              </div>

              <div class="item item_name">
                <p>아이템 코드 : </p>
                <span>{{ item[1] }}</span>
              </div>

              <div class="item item_name">
                <p>작성자 : </p>
                <span>{{ item[2] }}</span>
              </div>

              <div class="item item_name">
                <p>작성일 : </p>
                <span>{{ item[3] }}</span>
              </div>

              <div class="item item_name">
                <p>등록일 : </p>
                <span>{{ item[4] }}</span>
              </div>

              <div class="item item_name">
                <p>분류 : </p>
                <span>{{ item[5] }}</span>
              </div>

              <div class="item item_name">
                <p>재고수 : </p>
                <span>{{ item[6] }}</span>
              </div>

              <div class="item item_name">
                <p>가격 : </p>
                <span>{{ item[7] }}</span>
              </div>

            {% endfor %}
            <p class="gohome"><a href={{ url_for("views.home") }}>목록</a></p>
          </div>
        </div>

      </div>
    </div>

    
    {% include "footer.html" %}
    
  </body>
  <script src="../static/js/list.js">
</script>
</html>