<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FANSHOP Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <style>
        
    </style>
</head>
<body>
    <form action=" " method="POST">
        <a class="bak_main" href="/">back ></a>
        <div class="Big_container">
            <div class="signup_container">
                <h1 class="">Login</h1>
                <div class="labels">
                    <label>ID</label>
                </div>
                <input type="text" name="usr_id" placeholder="John Doe">
                <div class="labels">
                    <label>PASSWORD</label>
                </div>
                <input type="password" name="usr_pw" placeholder="10101010" minlength="8">
                
                <p><br></p>
                <form action="">
                    <button class="link" type="submit">signup</button>
                </form>
                
                <p style="text-align: center; position:relative; margin: 0;">or</p>
                <button class="link">continue with Google</button>
                <button class="link">continue with Naver</button>
                <button class="link">continue with Kakao</button>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </form>

    
</body>
</html>