<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FANSHOP signup</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>

    <div class="Big_container">
        <div class="signup_container">
            <h1 class="">Sign UP</h1>
            <form method="POST">
            <div class="labels">
                <label>ID</label>
            </div>
            <input type="text" name="usr_id" placeholder="jaehwan">
            <div class="labels">
                <label>PASSWORD</label>
            </div>
            <input type="password" name="usr_pw">
            <p><br></p>
                <button class="link" type="submit">signup</button>
            </form>
            <p style="text-align: center; position:relative; margin: 0;">or</p>
            <button class="link">continue with Google</button>
            <button class="link">continue with Naver</button>
            <button class="link">continue with Kakao</button>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    
    </div>
    
</body>
</html>